* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  display: grid;
  grid-template-areas: "header" "section" "footer";
  grid-template-rows: 4rem 1fr 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* header section */
.header {
  grid-area: header;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background: url(/images/img15.jpeg);
}

.toggle-mode {
  border-radius: 0.3rem;
  width: 6.2rem;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 1rem;
  margin-right: 1rem;
}

.toggle-mode:hover {
  background-color: #ffffff;
  color: #000000; 
}

.my-img {
  width: 2rem;
  border-radius: 30%;
  padding: 1rem;
  animation: grow 10s ease alternate;
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}


.header-name {
  color: #011638;
  flex: 1;
  height: auto;
}

.header-name h1 {
  font-size: 1.5rem;
  text-align: center;
}

.header-nav {
  flex: 2;
  display: inline-flex;
  justify-content: space-around;
}

.dropdown {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.dropdown .bar {
  height: 3px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.nav-1 {
  margin: auto;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-1:hover {
  background-color: #ffffff;
  color: #000000; 
  text-decoration: underline;
  border-radius: 5%;
  transition: color 100ms ease-in 10ms, backgroud-color 100ms ease-in 10ms;
}

/* Main Body*/

.section {
  grid-area: section;
  display: grid;
  grid-template-areas: "aboutMe" "skills" "projects";
  grid-template-rows: 1fr 1fr 2fr;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background: url(/images/img16.avif);
}


/* about me section*/

.about-me {
  grid-area: aboutMe;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0.2rem;
  margin-top: 4rem; 
}


.about-me-text {
  grid-column: span 3;
}

.about-me-text h1 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.about-me-text p {
  padding: 1rem;
  line-height: 2rem;
  padding-bottom: 0.2rem;
  text-align: justify;
  color: #282C35;
}


.about-me-img {
  grid-column: span 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.about-me-img-1 {
  width: 80%;
  padding: 1rem;
  animation: grow 20s ease infinite alternate;
}


/* skills section*/

.my-skills {
  grid-area: skills;
  margin-top: 6rem;
  width: 100%;
}

.my-skills h1 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;

}

.my-main-skills {
  grid-area: skills;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background: url(/images/img15.jpeg);
}

.my-main-skills div {
  width: 6rem;
  text-align: center;
  color: #add8e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fa-html5 {
  color: #ffffff;
  font-size: 3rem;
}

.fa-css3 {
  color: #ffffff;
}

.fa-js {
  color: #ffffff;

}

.fa-react {
  color: #ffffff;

}

.fa-git {
  color: #ffffff;

}

.fa-chrome {
  color: #ffffff;

}

.fa-terminal {
  color: #ffffff;

}

.fa-terminal {
  color: #ffffff;

}

.fa-npm {
  color: #ffffff;

}

.fa-node {
  color: #ffffff;

}

.fa-github {
  color: #ffffff;

}


.flip {
  backface-visibility: visible !important;
  animation: flip 10s ease-in-out infinite;
}


@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) rotateY(360deg) scale(.95);
    animation-timing-function: ease-in;
  }

  100% {
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in;
  }
}


.elastic-spin {
  animation: elastic-spin 10s ease infinite;
}

@keyframes elastic-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}

.gelatine {
  animation: gelatine 10s infinite;
}

@keyframes gelatine {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

/* project section*/
.my-projects {
  grid-area: projects;
  margin-top: 6rem;
}

.my-projects h1 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: url(/images/img15.jpeg);
}

.project-detail {
  margin-bottom: 2rem;
  width: 15rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem ;
  border: 1px groove;
  background: url(/images/img11.webp);
}

.project-summary {
  color: #282C35;
  padding: 0.5rem;
}

.project-detail a {
  padding: 0.5rem;
  color: red;  
}

.project-detail a:hover {
  font-size: 1.3rem;
  transition: font-size 100ms ease-in-out 1ms;
}

.detail-img {
  width: 12rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px groove;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* footer section*/
.footer {
  grid-area: footer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background: url(/images/img15.jpeg);
}

.footer-1 {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 1rem;
}

.copy-right {
  color: #011638;
}

.fa-phone {
  color: red;
  animation: bounce 2s ease infinite alternate;
  font-size: 1rem;
  padding-right: 1rem;
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-15%);
  }

  90% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-7%);
  }

  97% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0);
  }
}

.fa-envelope {
  color: red;
  animation: grow 5s ease infinite alternate;
  font-size: 1rem;
  padding-right: 1rem;
}

.fa-house {
  color: red;
  animation: grow 5s ease infinite alternate;
  font-size: 1rem;
  padding-right: 1rem;
}

.fa-facebook,
.fa-linkedin,
.fa-twitter,
.fa-instagram {
  color: #ffffff;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}


.fa-house {
  color: red;
  font-size: 1rem;
  padding-right: 1rem;
}

.call-num {
  padding-bottom: 1rem;
  font-style: italic;
  font-size: 1rem;
}

.call-us p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.HoverClass1:hover {
  background: linear-gradient(to right, transparent, #FFFFFF, transparent);
}

.menuClass1:hover {
  background-color: #ffffff;
  color: #000000 !important;
  transition: color 100ms ease-in 10ms, backgroud-color 100ms ease-in 10ms;
}










/* responsive design for media screen*/

@media only screen and (max-width: 726px) {

  .body {
    margin: 0;
    grid-template-rows: 1fr 1fr 5rem;  
    position: relative;
    height: 100%;
  }
  
  .dropdown {
    display: flex;
  }

  .dropdown:hover {
    background-color: transparent; ;
  }

  .dropdown a:hover {
    background-color:#FFFF00; ;  
  }

  .my-img {
    border-radius: 50%;
    width: 3rem;
  }

  .header-nav {
    display: none;
  }

  .header-nav.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }


  .header-nav a {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: .5rem;
  }

  .header {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
  }

  .header-name h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .nav-1 {
    font-size: 0.9rem;
    font-weight: bolder;
  }

  .nav-1:hover {
    background-color: "#FFFFFF";
  }

  .toggle-mode {
    align-self: center;
    width: 100%;
    margin: 0 0 1rem 0;
    text-align: center;
    height: 2rem;
  }

  .toggle-mode:hover {
    background-color: #000000;
    color: #ffffff; 
  }

  /*section*/
  .section {
    position: absolute;
    top: 8rem;
    background: #FFFFFF;
  }

  /*about me section*/

  .about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-me-text {
    grid-area: about-me-text;
  }

  .about-me-text h1 {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .about-me-text p {
    padding-left: 1rem;
    padding-bottom: 0.8rem;
    text-align: justify;
    padding-right: 1rem;
    font-size: 0.9rem;
  }


  .about-me-img {
    grid-area: about-me-img;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
  }

  .about-me-img-1 {
    width: 30%;
    padding: 1rem;
    border-radius: 40%;
  }


  /* skills section*/

  .my-skills {
    position: absolute;
    left: 0;
    right: 0;
  }

  .my-skills h1 {
    text-align: center;
  }


  /*project section*/

  .my-projects {
    position: absolute;
    top: -16rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .my-projects h1 {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    text-align: center;
  }

  .project-list {
    justify-content: center;

  }

  .project-detail {
    width: 70%;
    margin-top: 1rem;
  }


  .detail-img {
    width: 90%;
  }
  


  /*footer section*/

  .footer {
    position: absolute;
    display: inline-flex;
    left: 0;
    right: 0;
    top: 182rem;
    
  }

  .footer-1 {
    padding-bottom: 1rem;
  }
}